<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipies</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="../views/header :: header"></div>


<div class="container">
    <h2 class="text-danger">Добавить новый рецепт</h2>

    <form action="#" th:action="@{/recipies/add}"
          method="post" th:object="${recipies}">
        <div class="form-group">
            <label for="res-name">Название</label>
            <input id="res-name" class="form-control"
                   th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="${recipies.name}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="res-descript">Описание</label>
            <input id="res-descript" class="form-control"
                   th:field="*{description}"/>
            <span th:if="${#fields.hasErrors('description')}"
                  th:errors="${recipies.description}" class="text-danger"></span>
        </div>


        <!--/*@thymesVar id="category" type="edadamanager.model.Category"*/-->
        <div class="form-group" th:object="${category}">
            <label>Категория</label>
            <select class="form-control">
                <option value="">Выберите категорию рецепта</option>
                <option th:each="categor: ${category}"
                        th:value="${category.id}"
                        th:text="${category.id}+' : '+${category.name}"></option>
            </select>
        </div>
        <!--/*@thymesVar id="inventory" type="edadamanager.model.Inventory"*/-->
        <div class="form-group" th:object="${inventory}">
            <label>Инвентарь</label>
            <select class="form-control">
                <option value="">Выберите необходимый инвентарь</option>
                <option th:each="inv: ${inventory}"
                        th:value="${inv.id}"
                        th:text="${inv.id}+' : '+${inv.name}"></option>
            </select>
        </div>
        <!--/*@thymesVar id="ingredient" type="edadamanager.model.Ingredient"*/-->
        <div class="form-group" th:object="${ingredient}">
            <label>Ингредиенты</label>
            <select class="form-control">
                <option value="">Выберите необходимые ингредиенты</option>
                <option th:each="ing: ${ingredient}"
                        th:value="${ing.id}"
                        th:text="${ing.id}+' : '+${ing.name}"></option>
            </select>
        </div>
        <button type="submit">Добавить</button>
    </form>
      </div>
</body>
</html>