<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipies</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Add recipe</h2>
    <form action="#" th:action="@{/recipies/add}"
          method="post" th:object="${recipies}">
        <div class="form-group">
            <label for="res-name">Name</label>
            <input id="res-name" class="form-control"
                   th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="${recipies.name}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="res-descript">Description</label>
            <input id="res-descript" class="form-control"
                   th:field="*{description}"/>
            <span th:if="${#fields.hasErrors('description')}"
                  th:errors="${recipies.description}" class="text-danger"></span>
        </div>
              method="post" th:object="${ingredients}">
            <div class="form-group">
                <label for="continents">Continents</label>
                <select id="continents" class="form-control" th:field="*{ingredients}">
                    <option th:each="ing:${ingredients}"
                            th:value="${ing}"
                            th:text="${ing}">
                    </option>
                </select>
            </div>
            <div class="form-group">
            <label for="res-category">Description</label>
            <input id="res-category" class="form-control"
                   th:field="*{category}"/>
        </div>
        <div class="form-group">
            <label for="res-invent">Description</label>
            <input id="res-invent" class="form-control"
                   th:field="*{inventories}"/>
        </div>


        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>