<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipies</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Add recipe</h2>
    <form action="#" th:action="@{/recipies/add}"
          method="post" th:object="${recipies}">
        <div class="form-group">
            <label for="res-name">Name</label>
            <input id="res-name" class="form-control"
                   th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="${recipies.name}" class="text-danger"></span>
        </div>

        <button type="submit">ADD MY RECIPE</button>
    </form>
</div>
</body>
</html>