<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edaaa</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ZeEgGAbdPtCSagoYtHkc1PlbFkaPgWHIOzKfjTue8snSx2p01XB-yAKlxKa2Sc9Jv-b9co3sB4D285SuRvc8x7RHtGgdXZgS5O0SNrnhcSP3zfChKW6MgctXYtBk4IXZ" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="../views/header :: header"></div>
<div class="container">
    <h2 th:text="${title}" class="text-danger">Hello, project</h2>
</div>
</body>
</html>